
.quizze{
    background-color: rgb(255, 255, 255);
    margin-right: 700px;
    width: 80%;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 5px 15px rgba(3, 3, 3, 0.1);
}
.questions-choose{
    margin-left: 35px;
}
h1{
    margin-left: 350px;
}
h2{
    margin-left: 200px;
}
h3{   
    margin-left: 375px;
    font-size: 30px;
}

h4 {
    margin: 170px 0px 0px 410px;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
}
#btn{
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-family: sans-serif;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 8px;
    border-color:blueviolet;
    padding: 3px 19px 3px 19px;
}
button:hover{
    cursor: pointer;
    
    border-radius: 5px;
    
}
.nextbtn{
    margin-top: 40px; 
}
.next-revelbtn button{
    margin-left: 20px;
    height: 40px;
    width: 200px;
    background-color:rgb(255, 255, 250);
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 5px;
    border-color: gold;
}
.next-revelbtn{
    margin-left: 225px;
    padding: 0px 0px 26px 0px;

}

.trueOrFalse{
    display: none;
}
#btn:focus{
    background-color: rgb(43, 100, 51);
}
body{
    background-color: rgb(47 62 106);
}
.choose{
    margin-left: 165px;
}
i{
    font-weight: 500;
    color: white;
    margin-left: 530px;
    font-size: 100px;

}
.ending{
    display: none;
}